* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #5484DC;
}

#loading {
    width: 100vw;
    height: 100vh;
    background-color: #5484DC;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.hide {
    display: none;
}

.load {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    z-index: 6;
}

.load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite;
}

.load :first-child {
    background: #19A68C;
    animation-delay: -1.5s
}

.load :nth-child(2) {
    background: #F63D3A;
    animation-delay: -1s
}

.load :nth-child(3) {
    background: #FDA543;
    animation-delay: -0.5s
}

.load :last-child {
    background: #193B48
}

.hide-loader {
    animation: hidePreloader 1s;
}

.loader-hidden {
    display: none;
}

@keyframes hideloader {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes spin {

    0%,
    100% {
        transform: translate(0);
    }

    25% {
        transform: translate(160%);
    }

    50% {
        transform: translate(160%, 160%);
    }

    75% {
        transform: translate(0, 160%);
    }
}

.container {
    width: 1282px;
    margin: 0 auto;
    position: relative;

    @media(max-width: 426px) {
        width: 400px;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {

    height: 74px;

    &__box {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #fff;
    }

    &__nav {
        @media(max-width: 426px) {
            display: none;
        }

        display: flex;


        &_text {
            display: flex;
            gap: 52px;
            margin-left: 29px;
        }

        &_text-btn {
            color: #fff;
        }
    }

    &__contact {
        @media(max-width: 426px) {
            display: none;
        }

        display: flex;
        float: right;
        margin-left: 34.5%;
        color: #fff;
    }

    .burger {
        &__menu {
            display: none;
            position: relative;
            margin-top: 15px;
            width: 80px;
            height: 25px;
            float: right;
            z-index: 1000;

            @media (max-width:426px) {
                display: block;
                margin-left: 59%;
                margin-top: -1%;
                width: 40px;
            }

            &-items {
                display: none;
                position: absolute;
                top: 50px;
                right: 0;
                background-color: #333;
                border-radius: 4px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                width: 250px;
                animation: fadeIn 0.3s ease;

                &.open {
                    display: block;
                }

                & a {
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    padding: 10px 20px;
                    text-align: center;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: #555;
                        border-radius: 4px;
                    }
                }
            }
        }

        &__icon {

            cursor: pointer;
            padding: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 10px;
            transition: transform 0.3s ease;

            &.open {
                transform: rotate(90deg);

                & .bar:nth-child(1) {
                    transform: translateY(10px) rotate(45deg);
                }

                & .bar:nth-child(2) {
                    opacity: 0;
                }

                & .bar:nth-child(3) {
                    transform: translateY(-10px) rotate(-45deg);
                }
            }

        }
    }

    .bar {
        width: 100%;
        height: 4px;
        margin-bottom: 5px;
        background-color: #fff;
        border-radius: 2px;
        transition: transform 0.3s ease, opacity 0.3s ease;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }


}
.main {

    &__title {
        @media (max-width:426px) {
            font-size: 20px;
        }

        font-size: 36px;
        font-family: "Rubik Mono One";
        font-weight: 450;
        margin-top: 55px;
        display: flex;
        justify-content: center;
        color: #fff;
    }


    &__card1 {
        background-color: #fff;
        border-radius: 25px 25px 25px 25px;
        margin-bottom: 30px;
        margin-top: 50px;

        &_img{
            width: 641px;
            height: 480px;
        }

        &_textWrap {
            @media (max-width:426px) {
                padding: 0;
                margin: 0;
                width: 100%;
            }

            padding: 35px;

            &_title {
                font-size: 25px;
                color: #1E2B4E;
                font-family: "Rubik Mono One";
                border-bottom: 2px solid #1E2B4E;
                padding-bottom: 7px;
            }

            &_text {
                @media (max-width:426px) {
                    width: 80%;
                    margin: 0 auto;
                    text-align: center;
                    margin-top: 30px;
                }

                margin-top: 55px;
                font-size: 16px;
                color: #1E2B4E;
                font-family: "Rubik Mono One";
                letter-spacing: 14%;
                line-height: 150%;
                padding-bottom: 10px;
            }
        }
    }
    &__mapWrap {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    &__imgWrap{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
.footer {
    @media(max-width: 426px) {
        height: 100%;
        text-align: center;
    }

    height: 416px;
    background-color: #00244C;

    &__logo {
        margin-top: 23px;
    }

    &__wrap {
        @media(max-width: 426px) {
            height: 120%;
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;
            align-items: center;
            padding-bottom: 30px;
        }

        display: flex;
        align-items: baseline;

        &_firstCollum {

            &_title {
                @media(max-width: 426px) {
                    font-size: 12px;
                }

                margin-top: 24px;
                font-family: "Inder",
                sans-serif;
                font-size: 16px;
                font-weight: 300;
                color: #fff;
            }

            &_text {
                @media(max-width: 426px) {
                    font-size: 10px;
                    width: 100%;
                }

                font-family: "Inter",
                sans-serif;
                font-size: 13px;
                font-weight: 300;
                width: 315px;
                line-height: 20px;
                margin-top: 9px;
                color: #fff;
            }
        }

        &_collum {
            @media(max-width: 426px) {
                margin-left: 0;
            }

            margin-left: 90px;

            &_title {
                font-family: "Inter", sans-serif;
                font-size: 16px;
                font-weight: 700;
                color: #fff;
            }

            &_text {
                @media(max-width: 426px) {
                    margin-top: 15px;
                }

                opacity: 70%;
                font-family: "Inter",
                sans-serif;
                font-size: 16px;
                font-weight: 600;
                margin-top: 25px;
                color: #fff;

            }

            &_link {
                color: #fff;
            }

        }

    }
}